body{
    background-color: rgb(128, 128, 128);
}

.topcontainer{
    display: flex;
    flex-direction: column;
}
.utilitybar{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    background-color: hsl(0, 0%, 70%); 
    height: 5rem;
    width: 50%;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.appname{
    color: white;
    margin-left: 1rem;
    margin-right: 0.5rem;
    font-family: 'Times New Roman';
}

.appname h5,h6 {
    font-weight: bolder;
    margin: 0;
}

.icongroup {
    display: flex;
    align-items: center;
    justify-content: start;
}
.actionicons{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actionicons img{
    height: 30px;
    width: 30px;
    margin-right:1rem;
}

.sideicons{
    margin-left: 6.5rem;
}

.sideicons img{
    
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
}

.sideicons button{
    background-color: rgb(15, 171, 243);
}

.note{
    margin-top: 5rem;
    border: whitesmoke solid 0.5rem;
    border-radius: 0.25rem;
    height: 17rem;
    width: 14rem;
    position: relative;
    background-color: #f0f0f0;
    box-shadow: inset;
}

.note-pin {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    z-index: 10;
}

.note-cancel {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 20px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
}

.note img{
    height: 35px;
    width: 35px;
}

.note textarea{
    position: absolute;
    top: 4rem;
    left:1.5rem;
    width: 10rem;
    height: 10rem;
    z-index: 10;
    background: transparent;
    border: none;
}

.note h2{
    /* position: absolute; */
    margin-top: 1rem;
    padding: 0.5rem; 
    font-size: medium;
}